<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz</title>
  </head>
  <body>
    <h1>Quiz List</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
      {% for data in quiz_data %}
      <tr>
        <td>{{data.id}}</td>
        <td>{{data.title}}</td>
        <td>
          {% if data.description %}{{data.description}} {% else %} - {% endif%}
        </td>
        <td><a href="/quiz/{{data.id}}/questions/">Start Quiz</a></td>
      </tr>
      {% endfor %}
    </table>
  </body>
</html>
