{% extends 'quiz/base.html' %} {% load static %} {% block content %}
    <div class="container">
      <h2 class="text-center pt-4">{{quiz_title}}</h2>


    {% for question in quiz_questions %}
    <div>
      <p>{{question.id}}. {{question}}</p>
      <input type="text" id="{{question.id}}" />
      <p>{{question.correct_ans}}</p>
    </div>
    <hr />
    {% endfor %}
    <br />
    <div class=" text-center ">
      <input type="submit" value="Submit" class="btn btn-primary" onclick="getAnswer(answerList)" />
      <button type="button" class="btn btn-danger">Cancel</button>
    </div>
    <br />
  </body>
    </div>
{% endblock %}
