{% extends 'quiz/base.html' %} {% load static %} {% block content %}
    <div class="container">
      <h2 class="text-center pt-4">{{quiz_title}}</h2>
      <form action="">
        {% csrf_token %}
        {{quiz_participant_form}}
        <hr />
        {% for question in quiz_questions %}
        <div>
          <p>{{question.id}}. {{question}}</p>
          {{question_answer_form}}
        </div>
        <hr />
        {% endfor %}
        <input type="submit" value="Submit" class="btn btn-primary" onclick="getAnswer(answerList)" />
      </form>
    <br />
  </body>
    </div>
{% endblock %}
